*{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}
body{
     width: 150;
     height: 120vh;
     background: url(Square_Circle\ Dance\ morph.gif);
     background-size:cover;
     background-position: center;
     background-repeat: no-repeat;

     display: grid;
     grid-template-columns: 70%;
     justify-content: center;
     align-content: center;
}
.heading{
    color: black;
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 6px;
    word-spacing: 6px;
    margin-bottom: 25px;
}
.timer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.sub_timer{
    width: 200px;
    background: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    overflow:hidden;
}
.digit{
    color:black;
    font-weight: lighter;
    font-size: 70px;
    text-align: center;
    padding: 2.5rem 0;
}
.digit_name{
    color:black;
    background: #fff;
    text-align: center;
    padding: 0.6rem 0;
    font-size: 20px;
}

body.scheme1 .digit {
    color: #3b9fbb; 
}
body.scheme2 .digit {
    color: #2a5934; 
}
body.scheme3 .digit {
    color: #c19a6b; 
}
body.default {
    background: url('light.jpg') no-repeat center center fixed;
    background-size: cover;
}
body.scheme1 {
    background: url('water.jpg') no-repeat center center fixed;
    background-size: cover;
}
body.scheme2 {
    background: url('30+\ Aesthetic\ Green\ Wallpapers\ for\ iPad.jpg') no-repeat center center fixed;
    background-size: cover;
}
body.scheme3 {
    background: url('bewa.jpg') no-repeat center center fixed;
    background-size: cover;
}
